node_modules/
.expo/
dist/
.idea/
android/.gradle/
android/app/build/
android/build/
*.log
*-error.log
form-mobile-check.png
local.properties
android/keystore.properties
android/app/*.jks
android/app/*.keystore
.env
